<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>积分管理系统</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
	<div class="navall">
		<div class="logo">
			<h1>个人积分交易</h1>
		</div>
		<div class="navbar">
			<ul class="nav nav-pills">
			    <li role="presentation" class="active"><a href="/index">积分兑换</a></li>
			    <li role="presentation"><a href="/trans">积分赠送</a></li>
				<li role="presentation"><a href="/exchange">异业互兑</a></li>
				<li role="presentation"><a href="/blockchain">区块链浏览器</a></li>
			</ul>
		</div>
	</div>
		<div class="person" >
		      <img height="180" src="/images/avtar.jpg" width="180" class="img-rounded person-img">
		      <div>
		      	<h4>&nbsp;个人账户:</h4>
				<ul class="person-info">
				  <li>范若海</li>
				  <li>frank</li>
				  <li>18211139878</li>
				  <li aria-label="Home location" class="vcard-detail pt-1 css-truncate css-truncate-target" itemprop="homeLocation" title="
				    Beijing"><svg aria-hidden="true" class="octicon octicon-location" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg> Beijing</li>
				    <li><a href="mailto:1543818294@qq.com">1543818294@qq.com</a></li>
				    <li>
					    <span style="color: #3385ff" id="a"><%=aBalance%></span><span style="color: blue">&nbsp;积分A</span><br>
					    <span style="color: #3385ff" id="b"><%=bBalance%></span><span style="color: blue">&nbsp;积分B</span><br>
					    <span style="color: #3385ff" id="c"><%=cBalance%></span><span style="color: blue">&nbsp;积分C</span><br>
				    </li>
				</ul>
	    	  </div>
		</div>
		<div class="comsume">
			<div>
				<h1 style="margin-left:470px;">积分兑换商城</h1>
				<p style="margin-left:280px;margin-top: 20px">兑换须知：以下商品均使用积分进行结算、一旦点击兑换，账户会自动减去相应金额，会按照预留地址寄送</p>
				<hr>
			</div>
			<br>
			<ul class="product">
				<li>
					<img src="https://img.alicdn.com/tps/TB1WLOgPXXXXXb_aXXXXXXXXXXX-100-100.png">
					<p style="margin-left: 24px">
						<span>榨汁机</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://gw.alicdn.com/bao/uploaded/i1/372742437/TB2hSVeixhmpuFjSZFyXXcLdFXa_!!372742437.jpg_180x180xz.jpg">
					<p style="margin-left: 24px">
						<span>大橙鲜橘</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://img.alicdn.com/imgextra/i4/2751466956/TB2WoTjXYbC11BjSszbXXXRbpXa_!!2751466956.jpg_250x250.jpg">
					<p style="margin-left: 24px">
						<span>女士船鞋</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://img.alicdn.com/imgextra/i2/1600358925/TB2li8vfmFmpuFjSZFrXXayOXXa_!!1600358925-0-beehive-scenes.jpg_250x250.jpg">
					<p style="margin-left: 24px">
						<span>普洱青茶</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://img.alicdn.com/imgextra/i3/TB16XNkNpXXXXcaapXXYXGcGpXX_M2.SS2_250x250.jpg">
					<p style="margin-left: 24px">
						<span>粉色沙发</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://img.alicdn.com/imgextra/i3/2082211267/TB2oOGSblPzQeBjSZFhXXbRpFXa_!!2082211267.jpg_250x250.jpg">
					<p style="margin-left: 24px">
						<span>红木家具</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://gw.alicdn.com/bao/uploaded/i4/T1YeNJFtXUXXXXXXXX_!!0-item_pic.jpg_180x180xz.jpg">
					<p style="margin-left: 24px">
						<span>豆沙糕点</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://img.alicdn.com/imgextra/i3/2943376131/TB2Na9Te5lnpuFjSZFgXXbi7FXa_!!2943376131-0-beehive-scenes.jpg_250x250.jpg">
					<p style="margin-left: 24px">
						<span>修护套装</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://gw.alicdn.com/bao/uploaded/i1/142570395/TB2H3OioFXXXXbxXXXXXXXXXXXX_!!0-taoxiaopu_sell.jpg_180x180xz.jpg">
					<p style="margin-left: 24px">
						<span>名牌小包</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
				<li>
					<img src="https://gw.alicdn.com/bao/uploaded/i3/289276837/TB2D1bioFXXXXaXXXXXXXXXXXXX_!!289276837.jpg_180x180xz.jpg">
					<p style="margin-left: 24px">
						<span>17度丸</span><br>
						<select class="duihuan">
						  <option selected="selected">40 A</option>
						  <option>50 B</option>
						  <option>60 C</option>
						</select><br>
						<button class="btn btn-info">兑换</button>
					</p>
				</li>
			</ul>
		</div>
	<footer class="footer">
        <div>
          <img src="http://www.sageledger.com/wp-content/uploads/2016/12/0.5.jpg" style="margin-top: 20px;float:left;">
          <ul class="list-inline" style="float:left; margin-top:40px;margin-left:300px">
            <li><a href="http://www.sageledger.com/" target="_blank">联系我们</a></li><li>赛智区块链（北京）技术有限公司 提供技术支持</li>
          </ul>
        </div>
      </div>
    </footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript">
		$(function(){
			unlock();
		})

		function unlock(){
			$.get("/unlock",{},function(result){
				console.log(result);
			});
		}

		$(".btn").click(function(){
			var btn = $(this);
			var sage = $(this).parent().find("option:selected").text();
			console.log(sage);
			var arr = sage.split(" ");
			var sort = arr[1];
			var amount = parseInt(arr[0]);
			var a = parseInt($("#a").text());
			var b = parseInt($("#b").text());
			var c = parseInt($("#c").text());
			$.post("/buy",{sage:sage},function(result){
				if(result){
					console.log(result);
					btn.empty().text('已兑换');
					switch (sort){
						case "A" :
							a = a - amount;
							$("#a").text(a);
							break;
					    case "B" :
							b = b - amount;
							$("#b").text(b);
							break;
						case "C" :
							c = c - amount;
							$("#c").text(c);
							break;
						default:
							break;
						}
					}
			})
		})
	</script>
	</body>
</html>